numpy>=1.24,<3
matplotlib>=3.7,<4
openpyxl>=3.1,<4
pandas>=1.5,<2
rdkit>=2024.3,<2026
scikit-learn>=1.6,<2
scipy>=1.10,<2
torch>=2.1,<3
pynndescent==0.5.13
umap-learn==0.5.6
unimol-tools>=0.1.4.post1,<0.2
